body{
  margin: 0;
  width: 100%;
  background: #480072;
}
*{
  margin: 0; 
  padding: 0;
}

.conteiner{

 display: flex;
 justify-content: space-between;
 background-color: rgb(225, 174, 255);

 padding: 20px;

}

.texto{
  text-align: center;
}

.InfLeng{
  display: flex;
  gap:10px;
  list-style: none;
  margin: 0;
}

img{
  display: block;
  max-width: 80%;
}

a{
  text-decoration: none;
  color:#111111;
}

h1, h2, h3{
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}


.link-container{
 background-color: #dfdfdf;
 border-radius: 5px;
 padding: 10px;
}

#conteudo{
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  background-color: #8A89C0 ;
}

#header-main{
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Menu*/
.Lista{
list-style:none;
border:1px solid #480072;
float:left;
background-color: #ffffff;
}

.Lista li{
  float:left;
  border-right:1px solid #480072;


  }
  .Lista li a{
    color:#3f00ee; 
    text-decoration:none; 
    padding:10px 20px; 
    display:block;
  }

.Lista li a:hover{
background:#fae9a0;
color:#2f00ff;
}

#conteudo-primario{
  background: #e8e5f4;
  float: left;
  width: 60vw;
  height: 500px;
  padding: 20px;
  margin: 15px;
}
#conteudo-lateral{
  background: #e8e5f4;
  float: left;
  width: 17vw;
  height: 500px;
  padding: 20px;
  margin: 15px;
  align-items: center;
  text-align: center;
}


#section-livro_one{
  width: 100%;
  height: auto;
  display : flex;
  flex-direction : row;
  text-align: justify;
  line-height: 1.5;
  background:  #ddd7f1;
  
}

#section-livro_one #imagem{
  padding: 20px;
  width: 30%;
  float: left;
}

#section-livro_one #texto{
  width: 70%;
  padding: 20px;
  float: left;
}

#section-livro_two{
  align-items: center;
  text-align: center;
}

button{
  width: 100px;
  height: 50px;
  border-radius: 30px;
  background: #8e82d4;
  text-align: center;
  margin: 15px;
}
#botoes{
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 15px;
  
}
#social > button{
  width: 150px;
  margin: 10px;
  text-align: center;
}