body{
  margin: 0;
  width: 100%;
  background: #480072;
  align-items: center;
}
*{
  margin: 0; 
  padding: 0;
}

.header{

 display: flex;
 justify-content: space-between;
 background-color:#480072;
 color: #dfdfdf;
 padding: 20px;

}

.texto{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.InfLeng{
  display: flex;
  gap:10px;
  list-style: none;
}

img{
  display: block;
  max-width: 100%;
}

a{
  text-decoration: none;
  color:  #b789c0;
  
}

h1, h2, h3{
  margin: 0;
  text-align: center;
}


.link-container{
 background-color: #80008b;
 border-radius: 5px;
 padding: 10px;
}

#container{
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  background: #e8e5f4;
}

#header-main{
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Menu*/
.Lista{
list-style:none;
border:1px solid #480072;
float:left;
background-color: #ffffff;
}

.Lista li{
  float:left;
  border-right:1px solid #480072;


  }
  .Lista li a{
    color:#3f00ee; 
    text-decoration:none; 
    padding:10px 20px; 
    display:block;
  }

.Lista li a:hover{
background:#fae9a0;
color:#2f00ff;
}

#conteudo-parte1{
  display: flex;
  flex-wrap: wrap;
  background: #d7d5e0;
  align-items: center;
  padding: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#conteudo-parte1 > #section-livro{
  flex: 3;
}

#section-info-livro{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#section-info-livro > #imagem{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-info-livro > #texto{
  flex: 2;
  padding: 10px;
  line-height: 1.5;
  text-align: justify;
}

#section-revew-usuario{
  display: flex;
  flex-direction: column;
  background: #8A89C0;
  border-radius: 30px;
  padding: 20px;
}
#section-usuario-username{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

#conteudo-parte1 > #conteudo-lateral{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#favoritos{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

}

#section-imagens-livros-favoritos{
  background: #8A89C0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  padding: 40px;
}

#livro-favorito{
  padding: 5px;
  margin: 5px;
  width: 120px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#Titulo{
  width: 100%;
  height: 50px;
  background: #480072;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button{
  width: auto;
  height: 50px;
  border-radius: 30px;
  background: #8e82d4;
  text-align: center;
  margin: 15px;
  padding: 20px;
  align-items: center;
  display: flex;
}

#botoes{
  justify-content: center;
  display: flex;
}

#border-radius{
  background: #8A89C0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  margin: 20px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.imagem #livro{
  width: 200px;
  height: auto;
  margin: 5px;
  padding: 10px;
}

.imagem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

figure{
  margin: 15px;
  width: 200px;
  height: auto;
}



#conteudo-parte2{
  display: flex;
  flex-wrap: wrap;
  background: #d7d5e0;
  align-items: center;
  padding: 20px;
  flex-direction: row;
  justify-content: center;
}

#generos-filmes{
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#section-imagens-filmes-sugeridos{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#generos-filmes{

  

}
#genero-filme{
  width: 300px;
  height: auto;
  margin: 20px;
}




.Propagandas{
  display: flex;
  background-color: #dfdfdf;
  justify-content: space-between;
  padding: 20px;
}

.Coluna1{
  background-color: #aca0f0;
  display: flex;
  flex-direction: column;
  width: 25%;
  border-radius: 30px;
  padding: 20px;
  
}

.Coluna2{
  display: flex;
  width: 25%;
  flex-direction: column;
  border-radius: 30px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
  
}
.Anuncio4{
  background-color: #aca0f0;
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 10%;
  
}
.Anuncio5{
  background-color: #aca0f0;
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 30px;
  padding: 20px;
  margin-top: 10%;
}

.Coluna3{
  background-color: #aca0f0;
  display: flex;
  flex-direction: column;
  width: 25%;
  border-radius: 30px;
  padding: 20px;
  
}

.Anuncio{
  list-style:none;
  float:left;
  background-color:#aca0f0;
}
  
.Anuncio li{
  float:left;

  
}
.Anuncio li a{
  color:#000000; 
  text-decoration:none; 
  padding:10px 20px; 
  display:block;
}
  
.Anuncio li a:hover{
  background:#cc8fd4;
  color:#ffffff;
}

#TituloP{
  font-size: 100%;
  font-family: 'Times New Roman', Times, serif;

}

#Marca{
  font-size: 90%;
  color: rgb(78, 78, 78);
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #480072;
  color: #d7d5e0;
  font-family: 'Times New Roman', Times, serif;
  padding: 20px;

}





