body{
  margin: 0;
  width: 100%;
  background: #480072;
  align-items: center;
}
*{
  margin: 0; 
  padding: 0;
}

.header{

 display: flex;
 justify-content: space-between;
 background-color: #5c14eb;
 color: #dfdfdf;
 padding: 20px;

}

.texto{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.InfLeng{
  display: flex;
  gap:10px;
  list-style: none;
}

img{
  display: block;
  max-width: 100%;
}

a{
  text-decoration: none;
  color:  #b789c0;
  
}

h1, h2, h3{
  margin: 0;
  text-align: center;
}


.link-container{
 background-color: #80008b;
 border-radius: 5px;
 padding: 10px;
}

#container{
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  background: #e8e5f4;
}

#header-main{
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Menu*/
.Lista{
list-style:none;
border:1px solid #480072;
float:left;
background-color: #ffffff;
}

.Lista li{
  float:left;
  border-right:1px solid #480072;


  }
  .Lista li a{
    color:#3f00ee; 
    text-decoration:none; 
    padding:10px 20px; 
    display:block;
  }

.Lista li a:hover{
background:#fae9a0;
color:#2f00ff;
}

#Titulo{
  width: 100%;
  height: 50px;
  background: #480072;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.conteudo-parte1{
  display: flex;
  flex-wrap: wrap;
  background: #d7d5e0;
  align-items: center;
  padding: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
}

.conteudo-parte1 > .section-livro{
  flex: 3;
}

#section-info-livro{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#section-info-livro > #imagem{
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

#section-info-livro > #texto{
  flex: 2;
  padding: 10px;
  line-height: 1.5;
  text-align: justify;
  
}

#section-info-livro > #texto > p{
  color: #5a5353;
}

#avaliacao_usuario > p{
  color: #3b3131;
}
.conteudo-parte1 > .barra-lateral{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.colunas{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

.colunas > #conteudo-left{
  flex: 1;
}

.colunas > #conteudo-right{
  flex: 1;
}

#conteudo-left{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 5px;
}
#conteudo-right{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 5px;
}


.section-favoritos{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#section-imagens-livros-favoritos{
  background: #8A89C0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 30px;
  padding: 40px;
}

#livro-favorito, #livro-mais-vendido, #livro-lancamento{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
  width: 120px;
  height: auto;
}



button{
  width: auto;
  height: 50px;
  border-radius: 30px;
  background: #8e82d4;
  text-align: center;
  margin: 15px;
  padding: 20px;
  align-items: center;
  display: flex;
}

#botoes{
  justify-content: center;
  display: flex;
}

#border-radius{
  background: #8A89C0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  margin: 20px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #2d0355;
}

.imagem #livro{
  width: 200px;
  height: auto;
  margin: 5px;
  padding: 10px;
}

.imagem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

figure{
  margin: 15px;
  width: 200px;
  height: auto;
}

#conteudo-parte2{
  display: flex;
  flex-wrap: wrap;
  background: #d7d5e0;
  align-items: center;
  padding: 20px;
  flex-direction: row;
  justify-content: center;
}

#section-imagens-livros-sugeridos{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


#section-revew-livro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#generos-livros{
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#genero-livro{
  width: 300px;
  height: auto;
  margin: 20px;
}



#section-revew-usuario{
  display: flex;
  flex-direction: column;
  background: #8A89C0;
  border-radius: 30px;
  max-width: 70%;
}


#avatar{
    width: 60px;
    height: auto;
    border-radius: 50%; 
    padding: 10px;
}
#section-coluna{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}
#section-revews{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
  gap: 10px;
}

#section-usuario-username{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}


#avaliação_estrelas{
  margin: 10px;
}

#imagem-avaliacao-estrelas{
  width: 90px;
}

#avaliacao_usuario{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}


/*Seção do formulário*/
.section-formulario{
  padding: 20px;
}


#section-campo-dados{
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
}

fieldset  {
  display: flex;
  flex-direction: column;
}

.nome_sobrenome{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

input[type="text"], fieldset.elist {
  width: 250px;
}

input[type="email"], fieldset.elist {
  width: 500px;
}

#section-campo-dados input[type="text"],
#section-campo-dados input[type="email"],
#section-campo-dados input[type="tel"]
{
    padding: 0.2em 0.6em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}


#section-campo-dados > label {
  margin-bottom: 0.2em;
  color: #6d6767;
  display: block;
}

#botao {
  font-size: 1.5em;
  border: 0;
  margin-bottom: 1em;
  color: #FFF;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  border-radius: 0;
}

.Propagandas{
  display: flex;
  background-color: #dfdfdf;
  justify-content: space-between;
  padding: 20px;
}

.Coluna1{
  background-color: #aca0f0;
  display: flex;
  flex-direction: column;
  width: 25%;
  border-radius: 30px;
  padding: 20px;
  
}

.Coluna2{
  display: flex;
  width: 25%;
  flex-direction: column;
  border-radius: 30px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
  
}
.Anuncio4{
  background-color: #aca0f0;
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 10%;
  
}
.Anuncio5{
  background-color: #aca0f0;
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 30px;
  padding: 20px;
  margin-top: 10%;
}

.Coluna3{
  background-color: #aca0f0;
  display: flex;
  flex-direction: column;
  width: 25%;
  border-radius: 30px;
  padding: 20px;
  
}

.Anuncio{
  list-style:none;
  float:left;
  background-color:#aca0f0;
}
  
.Anuncio li{
  float:left;

  
}
.Anuncio li a{
  color:#000000; 
  text-decoration:none; 
  padding:10px 20px; 
  display:block;
}
  
.Anuncio li a:hover{
  background:#cc8fd4;
  color:#ffffff;
}

#TituloP{
  font-size: 100%;
  font-family: 'Times New Roman', Times, serif;

}

#Marca{
  font-size: 90%;
  color: rgb(78, 78, 78);
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #480072;
  color: #d7d5e0;
  font-family: 'Times New Roman', Times, serif;
  padding: 20px;

}





@media screen and (min-width: 0px) and (max-width: 480px){
  h1{
    font-size: 32px;
  }
  
  #Titulo{
    width: 100%;
    height: 60px;
    background: #480072;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

 #texto-header-main{
  font-size: 28px;
 }
  .conteudo-parte1{
    display: flex;
    flex-wrap: wrap;
    background: #d7d5e0;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }

  #section-info-livro{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  #section-info-livro > #imagem{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .imagem #livro{
    width: 300px;
    height: auto;
    margin: 5px;
    padding: 10px;
  }


  #texto{
    font-size: 28px;
    padding: 10px;
    line-height: 1.5;
    text-align: justify;
  }

  #section-imagens-livros-sugeridos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  #livro-favorito, #livro-mais-vendido, #livro-lancamento{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    width: 250px;
    height: auto;
  }

  figure{
    margin: 15px;
    width: 250px;
    height: auto;
  }

  #avatar{
    width: 90px;
    height: auto;
    border-radius: 50%; 
    padding: 10px;
}
  #nome-avatar{
    font-size: 28px;
  }

  #imagem-avaliacao-estrelas{
    width: 140px;
  }
  iframe{
    width: 350px;
    height: auto;
  }

  .colunas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  
  #conteudo-left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5px;
  }
  #conteudo-right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5px;
  }
  button{
    width: auto;
    height: 50px;
    border-radius: 30px;
    background: #8e82d4;
    text-align: center;
    margin: 15px;
    padding: 20px;
    align-items: center;
    display: flex;
  }
  #texto-botao{
    font-size: 28px;
  }
  #botoes{
    justify-content: center;
    display: flex;
  }
  
  #border-radius{
    background: #8A89C0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    margin: 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }


  /*section formulário*/
  .section-formulario{
    padding: 0px;
  }
  #section-campo-dados{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 40px;
  }
  
  fieldset  {
    display: flex;
    flex-direction: column;
  }
  
  .nome_sobrenome{
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"], fieldset.elist {
    width: 300px;
    height: 30px;
  }
  
  input[type="email"], fieldset.elist {
    width: 400px;
    height: 30px;
  }

  input[type="tel"], fieldset.elist {
    width: 250px;
    height: 30px;
  }
  
  #section-campo-dados input[type="text"],
  #section-campo-dados input[type="email"],
  #section-campo-dados input[type="tel"]
  {
      padding: 0.2em 0.6em;
      border: 1px solid #CCC;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
      display: block;
  }
  
  
  #section-campo-dados > label {
    margin-bottom: 0.2em;
    color: #6d6767;
    display: block;
    font-size: 24px;
  }
  
  #botao {
    font-size: 1.5em;
    border: 0;
    margin-bottom: 1em;
    color: #FFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    border-radius: 0;
  }
  
  
}


@media screen and (min-width: 481px) and (max-width: 769px){
  h1{
    font-size: 28px;
  }
  
  #Titulo{
    width: 100%;
    height: 60px;
    background: #480072;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .conteudo-parte1{
    display: flex;
    flex-wrap: wrap;
    background: #d7d5e0;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }

  #section-info-livro{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  #section-info-livro > #imagem{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .imagem #livro{
    width: 200px;
    height: auto;
    margin: 5px;
    padding: 10px;
  }


  #texto{
    font-size: 18px;
    padding: 10px;
    line-height: 1.5;
    text-align: justify;
  }

  #section-imagens-livros-sugeridos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  #livro-favorito, #livro-mais-vendido, #livro-lancamento{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    width: 200px;
    height: auto;
  }

  figure{
    margin: 15px;
    width: 200px;
    height: auto;
  }

  #avatar{
    width: 60px;
    height: auto;
    border-radius: 50%; 
    padding: 10px;
}
  #nome-avatar{
    font-size: 22px;
  }

  #imagem-avaliacao-estrelas{
    width: 140px;
  }
  iframe{
    width: 350px;
    height: auto;
  }

  .colunas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  
  #conteudo-left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5px;
  }
  #conteudo-right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5px;
  }
  button{
    width: auto;
    height: 50px;
    border-radius: 30px;
    background: #8e82d4;
    text-align: center;
    margin: 15px;
    padding: 20px;
    align-items: center;
    display: flex;
  }
  #texto-botao{
    font-size: 24px;
  }
  #botoes{
    justify-content: center;
    display: flex;
  }
  
  #border-radius{
    background: #8A89C0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    margin: 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  
}

